.container{

    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.search{
    color: black;
    padding: 15px;
    display: flex;
    align-items: center;
    background-color: gray;
    border-radius: 15px;
    margin-bottom: 1.5em;
}

.search input{
    margin-left: 15px;
    width: 100%;
    /* background-color: gray; */
    border: none;
    text-decoration: none;
    background-color: gray;
   
}
.search input:focus{
    outline: none;
}
.search input::placeholder{
    color:darkslategray
}
.note-list{
display: grid;/* auto responnsive method*/
grid-gap: 1rem;/* gap betweenn the two grid */
grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
/* repeat option tells the column repattion where 
 first param can be no of columns like 2, or 5 
 for responsive website use auto fit
second parameter represents the size of the one grid 
it can be fixed like 240px or can be resposvie through minmax
minmax(min, max)
1fr means 1 fraction
 */
}



.note{
    background-color: rgb(255, 247, 0);
    
    border-radius: 15px;
    min-height: 170px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;/*to kepp the spaces*/
    
}

.note-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.note.new{
    background-color: aqua;
    
}
textarea{
    background-color: aqua;
    border: none;
    resize: none;
}
textarea:focus{
    outline: none;
}


.save{
    color:white;
    font-size: 1.1 rem;
    border-radius: 15px;
    border-style: none;
    padding: 5px 10px 5px 10px;
    background-color: black;

}
.save:hover{
    background-color: white;
    color:black;
    cursor: pointer;
}
.deleteic:hover{
    cursor: pointer;
}